.chr-files {
    width: 100%;
}

.chr-files,
.chr-files td,
.chr-files th {
    border: 1px solid #ddd;
}

.chr-file-image {
    max-width: 100%;
}

#content .chr-files td,
.chr-files th {
    padding: 5px;
}

.chr-files__size {
    text-align: right;
}

.chr-files__referrers {
    margin: 0;
}

.chr-files__referrers-list {
    list-style-position: inside;
    margin-top: 0;
    padding-left: 10px;
}

.file-thumbnail {
    height: auto;
    max-height: 96px;
    max-width: 96px;
    width: auto;
}

.sort-icon {
    opacity: 0.3;
}

.sort-icon:hover {
    text-decoration: none;
}

.sort-icon.active {
    opacity: 1;
}
